<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
    <script src="{{url_for('static', filename='custom.js')}}"></script>
    <title>SpotiMap</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1><span class="special">Spoti</span>Map</h1>
            <div class="form-container">
                <form id="form" action="/map" method="POST">
                    <input class="input" type="text" name="artist" placeholder="Type artist name">
                    <button type="submit" class="submit">
                        <div class="loader"></div>
                        <span class="text">Search</span>
                    </button>
                </form>
            </div>
            <div class="error-message"></div>
            <div class="description">
                Welcome to <span class="special">SpotiMap</span>!
                <br>You can use this application to find out where your favorite artists are available on Spotify.
                Just type in the name of the artist and click the search button. The application will show you a map with the locations about the artist's the most popular song availability.
            </div>
        </div>
    </div>
    <iframe scrolling="no" src="/map-placeholder" class="map-container">
    </iframe>
</body>
</html>